.menu {
  background-color: var(--bg);
  color: var(--color);
  height: 100%;
  min-height: calc(100vh - 57px);
  overflow-y: auto;
  position: sticky;
  top: 0;
  left: 0;
  opacity: 1;
  width: 200px;
  transition: width .3s ease-in;
  margin-right: 0.5rem;
}


.hide-menu {
  width: 80px;
  transition: width .3s ease-in;
  min-height: calc(100vh - 57px);
}

.menu[data-theme="dark"],
.hide-menu[data-theme="dark"] {
  background-color: var(--dark);
  color: var(--light);
}

@media screen and (max-width:1035px) {
  .menu {
    position: absolute;
    z-index: 3;
  }

  .hide-menu {
    transition: none;
  }
}

.menu-wrapper {
  padding: 0.5rem 0;
}

.menu-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.4rem 0.5rem;
  font-size: 14px;
}

.menu-list-item-hidden {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 0.4rem 0.2rem;
  font-size: 12px;
  gap: 0.5rem;
  margin: 2rem auto;
}

.menu-list-item-active {
  font-weight: 700;
  color: var(--red);
}

.menu-list-item-icon {
  height: 25px;
  width: 25px;
  margin: 0 1rem;
}

.menu-hr {
  margin: 1rem 0;
  border: 0.1inch solid #f9f9f9;
  width: 100%;
}

.menu-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--dark);
  margin: 0 auto;
}

.menu-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3rem auto;
  gap: 0.5rem;
}

.menu-signin-p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 0 1.3rem;
}

.menu-btn,
.menu-btn-disabled {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.2rem 1.2rem;
  background-color: var(--light);
  color: var(--blue);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.menu-btn {
  box-shadow: 0 0 0 1px var(--blue);
}

.menu-btn-disabled {
  box-shadow: 0 0 0 1px var(--offwhite);
  color: var(--offwhite);
  pointer-events: none;
}

.menu-btn-icon,
.menu-btn-icon-disabled {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.menu-btn-icon {
  color: var(--blue);
}

.menu-btn-icon-disabled {
  color: var(--offwhite);
}