.message-modal-show {
  position: absolute;
  right: 50%;
  z-index: 4;
  transform: translate(50%, 0);
  color: var(--light);
  border-radius: 4px;
  box-shadow: 0 0 3px var(--rgba);
  padding: 0.6rem;
  animation: fade-in 400ms ease-in;
  animation-fill-mode: forwards;
}

.message-modal-hide {
  display: none;
}

.success-true {
  background-color: var(--blue-secondary);
}

.success-false {
  background-color: var(--color-invalid);
}

@keyframes fade-in {
  from {
    top: -10vh;
  }

  to {
    top: 10vh;
  }
}