.create {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.create[data-theme="dark"] {
  background-color: var(--dark);
  color: var(--light)
}

.create[data-theme="dark"] input,
.create[data-theme="dark"] textarea {
  box-shadow: 0 0 0 1px var(--light);
}

.create[data-theme="dark"] .form-control-wrapper .form-control-file,
.create[data-theme="dark"] .form-control-wrapper ul {
  background-color: var(--light);
  color: var(--dark);
}

.create[data-theme="dark"] .form-control-wrapper ul {
  box-shadow: 0 2px var(--light);
}

.create[data-theme="dark"] .create-form {
  background-color: var((--dark));
  color: var(--light);
  box-shadow: 0 0 0 1px var(--light);
}

.create-form {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  gap: 1rem;
  box-shadow: 0 0 3px var(--rgba);
  border-radius: 2px;
  width: 90%;
  height: max-content;
}

.form-control-wrapper {
  padding: 1rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.form-control {
  width: 100%;
}

.form-control h2 {
  /* color: var(--dark); */
  margin-bottom: 0.5rem;
}

.form-control b {
  font-size: 14px;
  opacity: 0.8;
  margin-left: 1rem;
}

.form-control input,
.form-control textarea {
  border-radius: 2px;
  padding: 0.7rem 1rem;
  width: 100%;
  font-size: 16px;
}

.form-control input {
  box-shadow: 0 0 2px var(--rgba);
}

.form-control .create-description-input {
  box-shadow: 0 0 2px var(--rgba);
  min-height: 120px;
}


/*  */
span {
  font-size: 14px;
  padding: 0.3rem;
  color: #f00;
  display: none;
}

/* when input is invalid and ont focused   */
.create-title-input:not(:focus):not(:placeholder-shown):invalid {
  box-shadow: 0 0 0 1px var(--color-invalid);
}

.create-file-input:not(:focus):not(:placeholder-shown):invalid {
  box-shadow: 0 0 0 1px var(--color-invalid);
}

/* for the tags input the box shadow should be on the ul */
.create-tags-list:has(.create-tags-input:not(:focus):not(:placeholder-shown):invalid) {
  box-shadow: 0 0 0 1px var(--color-invalid);
}


/* show error message */
.create-title-input:not(:focus):not(:placeholder-shown):invalid~.title-error-message {
  display: block;
}

.create-file-input:not(:focus):not(:placeholder-shown):invalid~.file-error-message {
  display: block;
}

.create-file-input:not(:focus):not(:placeholder-shown):invalid~.file-error-message {
  display: block;
}

.create-tags-list:has(.create-tags-input:not(:focus):not(:placeholder-shown):invalid)~.tags-error-message {
  display: block;
}

/* Only show valid ring while not focused and if a value is entered */
.create-title-input:not(:focus):not(:placeholder-shown):valid {
  box-shadow: 0 0 0 1px var(--blue);
}

/* for the file show the check mark */

.create-tags-list:has(.create-tags-input:not(:focus):not(:placeholder-shown):invalid) {
  box-shadow: 0 0 0 1px var(--blue);
}

.tag-input-error-message {
  color: #f00;
  font-size: 14px;
  padding: 0.3rem;
}

.red-box-shadow {
  box-shadow: 0 0 0 1px #f00;
  min-height: 120px;
}

.form-control-file {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.5rem;
  min-height: 150px;
  border-radius: 0.5rem;
  border: 1px dashed var(--blue);
}

.create-span {
  display: flex;
  font-size: 16px;
  color: var(--blue-secondary);
  pointer-events: none;
}

.form-control-file h4 {
  color: var(--blue-secondary);
}

.form-control label {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  color: var(--light);
  background-color: var(--blue-secondary);
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.form-control-file video {
  width: 200px;
  height: 150px;
}

.form-control-file img {
  width: 150px;
  height: 150px;
}

.form-icon {
  font-size: 24px;
}

.form-control input[type="file"] {
  display: none;
}

.form-control h3 {
  margin-bottom: 0.8rem;
  margin-left: 0.5em;
}

.create-tags-list {
  display: flex;
  align-items: center;
  box-shadow: 0 0 2px var(--rgba);
  border-radius: 2px;
  padding: 0.3rem;
  gap: 0.5rem;
  flex-wrap: wrap;
  height: max-content;
}

.create-tags-list input {
  box-shadow: none;
  width: 50%;
}

.create-tags-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light);
  gap: 0.3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 2px var(--rgba);
  /* padding: 0.3rem; */
}

.create-tags-item p {
  padding-left: 0.2rem;
}

.tags-item-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #f00;
  padding: 0.3rem 0.35rem;
  background-color: var(--light-primary);
  border-radius: 50%;
  cursor: pointer;
}

.create-form button {
  width: 100%;
  padding: 0.8rem 1.3rem;
  background-color: var(--blue-secondary);
  font-size: 16px;
  font-weight: 500;
  color: var(--light);
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width:825px) {
  .create-form {
    flex-direction: column;
    width: 70%;
  }

  .form-control-wrapper {
    width: 90%;
  }
}