.spinner-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  width: 50px;
  height: 50px;
  position: relative;
}

.spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: var(--blue);
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite;
}

.spinner div:nth-child(2) {
  border-bottom-color: var(--blue);
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 8px;
  }

  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }

  100% {
    transform: rotate(360deg);
    border-width: 8px;
  }
}